footer{
    width: 100%;
    height: 30vh;
}
.heading3{
    width: 100%;
    height: 80px;
    text-align: center;
}
.logo-container{
    width: 100%;
    height: 20vh;
    display: flex;
    background-color:black;
    align-items: center;
    justify-content: center;
    
}
.logo{
    width: 30%;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
}
.f-logo{
    color:white;
}
.copyright{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color:black;
    align-items: center;
    justify-content: center;
}
small{
    font-size: 12px;
    color: rgb(138, 137, 137);
}
a{ 
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
}
.f-logo{
    text-shadow: 2px 2px 5px red;
}
@media screen and (max-width:900px){
.logo{
  width: 80%;
}
}

