.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* background-color: black; */
    background: linear-gradient(to left,red,black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
}
.changeNav{
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    background: linear-gradient(to left,red,black);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
    box-shadow: 0 0 30px 10px rgba(149, 148, 148, 0.5);
}
.menu{
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    color: aliceblue;
}
.p-logo{
    /* color: #9c0303; */
    color: red;
    background-color: transparent;
}
.menu:hover{
    text-decoration: underline;
    color: black;
}
.options-mobile-menu{
    display: none;
}
.options {
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-evenly;
}
.my-name{
    width: 20%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: transparent;

    /* box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.5); */
}



.bar{
    display: none;
    cursor: pointer;
    
}
.portfolio{
    color:aliceblue;
    font-style: oblique;
    opacity: 0.7;
    background-color: transparent;
}
@media screen and (max-width:800px) {
    nav{
        display: inline-block;
     }
     .changeNav{
        display: inline-block;
        height: 100px;
     }
    .my-name{
        width: 100%;
        height: 15vh;
    }
    .options{
        display: none;
    }
    
    .options-mobile-menu{
        width: 100%;
        height: 40vh;
        /* background-color: rgb(115, 113, 113); */
        background: linear-gradient(to right, red, black); 
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
     }
     .menu{
        background-color: transparent;
        color: aliceblue;
     }
    
    .bar{
       width: 50px;
       display: flex;
       align-items: center;
       color: red;
       cursor: pointer;
       justify-content: center;
    }
    
}
